.App {
  text-align: center;
}

.App-logo {
  margin: 8px 16px;
  padding: 4px;
  height: 40px;
  float: left !important;
}

.App-header {
  height: 64px;
  min-height: 64px;
  line-height: 64px;
  background-color: white;
  color: #4e4558;
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.App-content {
  text-align: left;
  padding-top: 64px;
  display: flex;
  align-items: flex-start;
  margin: auto;
  flex-flow: row wrap;
  justify-content: space-between;
}
