.Control-card {
    margin: 16px;
    width: 304px;
}

.searchField, .variationField {
    width: 256px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.Control-card h2{
    line-height: 16px;
    font-size: 14px;
    font-weight: 500;
}